    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #232529;
        --color01: #232529;
        --color02: #232529;
        --color03: #d6dcda;
        --color04: #d6dcd9;
        --color05: #d6dcd9;
        --color06: #d6dcd9;
        --color07: #d6dcd9;
        --color08: #d6dcd9;
        --color09: #b1b195;
        --color10: #d9d9c9;
        --color11: #9bab8c;
        --color12: #7eadac;
        --color13: #879ab0;
        --color14: #bea7ad;
        --color15: #b1b195;
    }
