@define-color bg #232529;
@define-color fg #d6dcd9;
@define-color gray1 #9bab8c;
@define-color gray2 #787c87;
@define-color gray3 #879ab0;
@define-color gray4 #b1b195;
@define-color gray5 #bea7ad;
@define-color fg_bright #d6dcd9;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}